@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body{
    background-color: rgb(232, 201, 162);
}

h1{

    font-family: 'UnifrakturMaguntia', serif;
    font-size: 50px;
}

h4{
    font-family: 'UnifrakturMaguntia', serif;
    color: brown;
    font-size: 18px;
    font-weight:bolder;
    margin: 0;
    margin-left: 20px; 
    padding: 0;
       
}

.top-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.tab-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-button{
    background-color: rgb(155, 123, 34);
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.tab-button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)}
.tab-button:hover {background-color: #3fa95b;color: rgb(1, 68, 20);}

