@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body{
    background-color: rgb(232, 201, 162);
}

h1{

    font-family: 'UnifrakturMaguntia', serif;
    font-size: 50px;
}

h4{
    font-family: 'UnifrakturMaguntia', serif;
    color: brown;
    font-size: 18px;
    font-weight:bolder;
    margin: 0;
    margin-left: 20px; 
    padding: 0;
       
}

.top-container {
    display: flex; 
    justify-content: center;
    align-items: center;

  
}

.subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

