@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body{
    background-color: rgb(232, 201, 162);
}

h1{

    font-family: 'UnifrakturMaguntia', serif;
    font-size: 50px;
}

.top-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.lore-container{
    display: flex; 
    justify-content: space-evenly;
    align-items: start;
}

.tab-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.tab-button{
    background-color: rgb(155, 123, 34);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.tab-button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)}
.tab-button:hover {background-color: #3fa95b;color: rgb(1, 68, 20);}

.box {
    border: solid;
    border-radius: 10px;
    border-color: rgb(100, 73, 23);
    background-color:rgb(181, 147, 74);
    height: auto;
    width: 1000px;
    margin: 50px;
    text-align: center;
}

.smaller-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: solid;
    border-radius: 10px;
    border-color: rgb(100, 73, 23);
    background-color:rgb(181, 147, 74);
    height: auto;
    width: 400px;
    margin: 50px;
    text-align: center;    
}

.sesh-button{
    background-color: rgb(155, 123, 34);
    width: 100px;
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 8px;
    cursor: pointer;
}

.sesh-button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)}
.sesh-button:hover {background-color: #3fa95b;color: rgb(1, 68, 20);}